 h1{
            color: red;
            background-color: yellow;
            text-align: center;
        }
  h2{
    color: rgb(2, 2, 48);
    background-color: rgb(240, 146, 177);
    text-align: center;
  }      